.hero {
    min-height: 100vh;
    background-image: url(https://c.tenor.com/epNMHGvRyHcAAAAd/gigachad-chad.gif);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    width: 95%;
    height: 610px;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Koulen', cursive;
  }
  
  
  /* CSS TEXT HEADER*/
  
  .hero h1 {
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: left;
    color: #101E29;
  }
  
  .hero h2 {
     font-size: 20px; 
     font-weight: 10; 
     line-height: 20px; 
     margin: 0 0 50px; 
     text-align: left;
     color: #101E29;
  }
  
  .hero p {
    color: #101E29; 
    width: 40%;
    font-size: 12px; 
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify; 
    text-justify: inter-word;
  }